/* File */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to bottom, #0a5f38 0%, #05321d 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 20px;
}


/* Title screen */
.title-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}
.title {
    font-family: "Diplomata SC", 'Segoe UI';
    text-align: center;
    font-size: 60px;
    margin-bottom: 10%;
    letter-spacing: 1px;
    font-weight: 400;
    color: #f8d247;
    text-shadow: 3px 3px 0 #000;
    animation: glow 2s infinite alternate;
}
@keyframes glow {
    to { text-shadow: 0 0 20px rgba(248, 210, 71, 0.9), 0 0 30px rgba(248, 210, 71, 0.6); }
}
/* Start button */
.button-container {
  display: flex;
  justify-content: center; 
  align-items: flex-end; 
  padding-bottom: 20px; 
}
.start-button {
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-family: Tahoma, serif;
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
    color: #0a5f38;
    background: linear-gradient(to bottom, #f8d347 0%, #d4af37 100%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.start-button:hover {
    transform:translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
/* Card stream */
.card-stream {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 25vh;
    margin-bottom: 8%;
}
.card.stream-card {
    position: absolute;
    transform-origin: center;
    scale: 0.7;
    left: 0;
    bottom: 50;
    opacity: 0;
    animation: arch ease-in-out 7s;
}
@keyframes arch {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        /* 0.5 => 88 */
        transform: translateX(57vw) translateY(0);
        opacity: 0;
    }
}

/* Game screen */
.game-container {
    display: none;
    width: 60%;
    border: 5px solid #f8d247;
    background: #074427;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 25px;
}
/* Hit and stand buttons */
.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.hit-button, .stand-button, .double-down {
    background: linear-gradient(to bottom, #f8d347 0%, #d4af37 100%);
    font-family: Tahoma, serif;
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #0a5f38;
    width: 200px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.hit-button:hover, .stand-button:hover, .double-down:hover {
    transform:translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.hit-button {
    border-radius: 10px 10px 10px 75%;
    text-indent: 20px;
}
.stand-button {
    border-radius: 10px 10px 75% 10px ;
    text-indent: -20px;
}
.double-down {
    width:auto;
    font-size:1rem;
    padding: 10px;
}
/* Score */
.score-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.player-score, .dealer-score {
    font-family: Tahoma, serif;
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #f8d247;
}
.player-score {
    margin-bottom: 20px;
}
.dealer-score {
    margin-top: 20px;
}
.line {
    background: linear-gradient(to bottom, #f8d347 0%, #d4af37 100%);
    border: none;
    border-radius: 10px;
    height: 5px;
    width: 90%;
}
/* Money counters */
.money-counters {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}
.money-counter, .bet-counter {
    font-family: Tahoma, serif;
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #f8d247;
    width: 50%;
}
.money-counter {
    text-align: left;
}
.bet-counter {
    text-align: right;
}
/* End game message */
.end-game-message {
    text-align: center;
    font-family: Tahoma, serif;
    font-size: 2rem;
    padding: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.end-game-message.blackjack {
    color: #d8b4fe;
    animation: glow 2s infinite alternate;
}
.end-game-message.win {
    color: greenyellow;
    animation: glow 2s infinite alternate;
}
.end-game-message.loss {
    color: rgb(245, 47, 47);
    animation: glowLoss 2s infinite alternate;
}
.end-game-message.tie {
    color: dodgerblue;
    animation: glowTie 2s infinite alternate;
}
@keyframes glowLoss {
    to { text-shadow: 0 0 20px red, 0 0 30px rgb(242, 63, 63); 
    }
}
@keyframes glowTie {
    to { text-shadow: 0 0 20px dodgerblue, 0 0 30px rgb(96, 175, 253); 
    }
}

/* Instructions */
.instructions {
    background: linear-gradient(to bottom, #f8d347 0%, #d4af37 100%);
    width: 600px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: #0a5f38;
    text-align: center;
    font-family: Tahoma, serif;
    font-size: large;
    font-weight: bolder;
    letter-spacing: 1px;
}

/* Betting */
.betting-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.betting-overlay.active {
    opacity: 1;
    visibility: visible;
}
.betting-container {
    background: #074427;;
    border: 5px solid #000;
    border-color: #f8d247;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.betting-container h2 {
    font-family: Tahoma, serif;
    font-size: 2rem;
    color: #f8d247;
}
.betting-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.betting-button {
    font-family: Tahoma, serif;
    color: #0a5f38;
    background: #f8d247;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.betting-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.current-money {
    font-family: Tahoma, serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #f8d247;
}
.bet-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bet-input-container label {
    font-family: Tahoma, serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #f8d247;
}
.bet-input-container input[type = "number"] {
    width: 150px;
    padding: 10px 15px;
    font-family: Tahoma, serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #0a5f38;
}
.bet-message {
    font-family: Tahoma, serif;
    font-weight: bold;
    border-radius: 5px;
    color: red;
}

/* Hands */
.hand {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.player-title, .dealer-title {
    font-family: Tahoma, serif;
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #f8d247;
}
.player-title {
    margin-top: 15px;
}
.dealer-title {
    margin-bottom: 15px;
}
/* Cards */
.card-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
}
.card {
    width: 120px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    perspective: 1000px; /* for 3d flip effect */
    /* allow translate transitions on the outer card */
    transition: transform 0.8s;
}
.card.flipped .card-inner {
    transform: rotateY(180deg);
}
.card-inner { /* used to postion front and back side for flip effect */
    width: 100%;
    height: 100%;
    /* only animate transforms (rotate/scale) on the inner */
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card-front, .card-back {
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, white 0%, rgb(211, 211, 211) 100%);
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* safari */
}
.card-front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}
.card-back {
    z-index: 1;
    transform: rotateY(180deg);
}
.card-top, .card-bottom {
    font-size: 1.8rem;
    font-weight: bold;
}
.card-top {
    align-self: flex-start;
}
.card-bottom {
    align-self: flex-end;
    transform: rotate(180deg);
}
.card-center {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card.redCard {
    color: red;
}

.card.blackCard {
    color: #000;
}
/* Blank card design from https://printcss.net/articles/how-to-create-a-poker-card */
.card-back-design {
    border: 1mm solid rgb(188, 11, 6);
    border-radius: 10px;
    width: 100px;
    height: 150px;
    background-color: #fdb9b8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23bc0b06' fill-opacity='0.97' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
}
.card.moved-left {
    transform: translateX(-65px);
}
.card-inner.moved-left {
    transform: translateX(-65px);
}
.card-inner.start-small {
    transform: scale(0.1);
    animation: 0.5s ease-in growCard;
}
@keyframes growCard {
    100% {
        transform: scale(1);
    }
}

/* Background elements */
.chip-background {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
/* Chips */
/* All chip designs from https://codepen.io/pmk/pen/GgrJRq */
@keyframes fall {
    0% {
        transform: translateY(-115px) rotate(0deg) scale(0.5);
        opacity: 1;
    }
    100% {
        transform: translateY(calc(100vh + 50px)) rotate(360deg) scale(0.2);
        opacity: 0;
    }
}
.pokerchip {
    margin: 1em;
    position: absolute;
    display: inline-block;
    width: 151px;
    height: 151px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5), 0 0 3px 0 rgba(0, 0, 0, 0.4) inset;
    border-radius: 50%;
    background-size: 151px 151px;
    background-position: center center;
    animation: fall ease-in infinite;
}
.chip-background, .pokerchip {
    margin: 0;
}
.pokerchip:before {
    position: absolute;
    content: "";
    z-index: 1;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    top: 9px;
    left: 9px;
    background-size: 151px 151px;
    background-position: center center;
}
.pokerchip:after {
    z-index: 2;
    position: absolute;
    content: "25";
    text-align: center;
    font: bold 50px/111px Arial;
    white-space: pre;
    width: 111px;
    height: 111px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3), 
    1px 1px 0px rgba(255, 255, 255, 0.2);
}
.white {
    background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #dddddd 0,#dddddd 97.4304px, #fff 97.4304px, #fff 113.4304px, #dddddd 113.4304px, #dddddd 151px);
}
.white:before {
    border: 8px solid #dddddd;
    background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #C1C1C1 0, #C1C1C1 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #C1C1C1 110.7104px, #C1C1C1 151px);
}
.white:after {
  content: "1";
  background: #dddddd;
  color: #C1C1C1;
}
.red {
  background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #800000 0, #800000 97.4304px, #fff 97.4304px, #fff 113.4304px, #800000 113.4304px, #800000 151px);
}
.red:before {
  border: 8px solid #800000;
  background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #6C0000 0, #6C0000 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #6C0000 110.7104px, #6C0000 151px);
}
.red:after {
  content: "5";
  background: #800000;
  color: #6C0000;
}
.blue {
  background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #000099 0, #000099 97.4304px, #fff 97.4304px, #fff 113.4304px, #000099 113.4304px, #000099 151px);
}
.blue:before {
  border: 8px solid #000099;
  background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #00016C 0, #00016C 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #00016C 110.7104px, #00016C 151px);
}
.blue:after {
  content: "10";
  background: #000099;
  color: #00016C;
}
.green {
  background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #008000 0, #008000 97.4304px, #fff 97.4304px, #fff 113.4304px, #008000 113.4304px, #008000 151px);
}
.green:before {
  border: 8px solid #008000;
  background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #016C00 0, #016C00 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #016C00 110.7104px, #016C00 151px);
}
.green:after {
  content: "25";
  background: #008000;
  color: #016C00;
}
.black {
  background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #222222 0, #222222 97.4304px, #fff 97.4304px, #fff 113.4304px, #222222 113.4304px, #222222 151px);
}
.black:before {
  border: 8px solid #222222;
  background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #000000 0, #000000 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #000000 110.7104px, #000000 151px);
}
.black:after {
  content: "100";
  background: #222222;
  color: #000000;
}